.List {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.List-Card {
  flex-basis: 122px;
  margin: 0 10px 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
}

.List-Image {
  width: 78px;
  height: 78px;
  margin: 0 auto 0.5rem;
}

.List-Image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.List-Card p {
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  pointer-events: none;
}

.List-Card hr {
  border-top: 1px solid #ddd;
}
